*{
    padding: 0px;
    margin: 0px;
}
div{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
}
small{
    color: red;
}

:host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 10px 0px;
  }

  .container{
    width: 90%;
    padding: 0 10%;
  }