<div class="container">
  <h1>Sign Up</h1>
  <p>Fill all fields</p>
  <br>
  <form [formGroup]="form">
    <div class="card" formGroupName="account">
      <h3 #accountRef>Account</h3>
      <p>
        <mat-form-field class="nopadding" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('account.email')?.invalid && form.get('account.email')?.touched">
        <small *ngIf="form.get('account.email')?.errors!['required']">Необходимо заполнить поле</small>
        <small *ngIf="form.get('account.email')?.errors!['email']">Введите корректный email</small>
      </div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password1">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('account.password1')?.invalid && form.get('account.password1')?.touched">
        <small *ngIf="form.get('account.password1')?.errors!['required']">Необходимо заполнить поле</small>
        <small *ngIf="form.get('account.password1')?.errors!['minlength']">Минимальная длина пароля 6 символов</small>
      </div>
      <p>
        <mat-form-field appearance="outline" (click)="sendPass()">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Confirm Password" formControlName="password2">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('account.password2')?.invalid && form.get('account.password2')?.touched">
        <small *ngIf="form.get('account.password2')?.errors!['required']">Необходимо заполнить поле</small>
        <small
          *ngIf="form.get('account.password2')?.errors!['incorrectPass'] && !form.get('account.password2')?.errors!['required']">Пароли
          не совпадают</small>
      </div>
    </div>


    <div class="card" formGroupName="profile">
      <h3>Profile</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('profile.name')?.invalid && form.get('profile.name')?.touched">
        <small *ngIf="form.get('profile.name')?.errors!['required']">Необходимо заполнить поле</small>
      </div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phone" [mask]="'0(000) 000 0000'">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('profile.phone')?.invalid && form.get('profile.phone')?.touched">
        <small *ngIf="form.get('profile.phone')?.errors!['required']">Необходимо заполнить поле</small>
        <small *ngIf="form.get('profile.phone')?.errors!['minlength']">Необходимо ввести номер полностью</small>
      </div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('profile.city')?.invalid && form.get('profile.city')?.touched">
        <small *ngIf="form.get('profile.city')?.errors!['required']">Необходимо заполнить поле</small>
      </div>
    </div>


    <div class="card" formGroupName="company">
      <h3>Company</h3>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Company name</mat-label>
          <input matInput placeholder="Company name" formControlName="compName">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('company.compName')?.invalid && form.get('company.compName')?.touched">
        <small *ngIf="form.get('company.compName')?.errors!['required']">Необходимо заполнить поле</small>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Form Of Ownership</mat-label>
        <select matNativeControl formControlName="formOwnership" (change)="checkForm($event)">
          <option value="llc">Юр. лицо</option>
          <option value="ip">ИП</option>
        </select>
      </mat-form-field>
      <div class="validator" *ngIf="form.get('company.formOwnership')?.invalid">
        <small *ngIf="form.get('company.formOwnership')?.errors!['required']">Необходимо выбрать</small>
      </div>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>ИНН</mat-label>
          <input matInput placeholder="ИНН" formControlName="inn" [mask]="'000000000'">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('company.inn')?.invalid && form.get('company.inn')?.touched">
        <small *ngIf="form.get('company.inn')?.errors!['incorrectLength']">Необходимо ввести 9 символов</small>
      </div>
      <p>
        <mat-form-field appearance="outline" *ngIf="form.get('company.formOwnership')?.value === 'llc'">
          <mat-label>КПП</mat-label>
          <input matInput placeholder="КПП" formControlName="kpp" [mask]="'000000000'">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('company.kpp')?.invalid && form.get('company.kpp')?.touched">
        <small *ngIf="form.get('company.kpp')?.errors!['incorrectLength']">Необходимо ввести 9 символов</small>
      </div>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>OKПО</mat-label>
          <input matInput placeholder="OKПО" formControlName="okpo" [mask]="'00000000'">
        </mat-form-field>
      </p>
      <div class="validator" *ngIf="form.get('company.okpo')?.invalid && form.get('company.okpo')?.touched">
        <small *ngIf="form.get('company.okpo')?.errors!['incorrectLength']">Необходимо ввести 8 символов</small>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="validator" *ngIf="form.get('company.date')?.invalid && form.get('company.date')?.touched">
        <small *ngIf="form.get('company.date')?.errors!['required']">Необходимо заполнить поле</small>
      </div>
    </div>

    <div>
      <br>
      <button mat-raised-button color="primary" (click)="addContact()">Add contact</button>
      <div formArrayName="contacts" *ngFor="let control of contacts.controls; let idx=index">
        <div class="card" [formGroupName]="idx">
          <h3>Contact {{idx+1}}</h3>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          </p>
          <div class="validator"
            *ngIf="contacts.controls[idx].get('name')?.invalid && contacts.controls[idx].get('name')?.touched">
            <small *ngIf="contacts.controls[idx].get('name')?.errors!['required']">Необходимо заполнить поле</small>
          </div>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Position</mat-label>
              <input matInput placeholder="Position" formControlName="position">
            </mat-form-field>
          </p>
          <div class="validator"
            *ngIf="contacts.controls[idx].get('position')?.invalid && contacts.controls[idx].get('position')?.touched">
            <small *ngIf="contacts.controls[idx].get('position')?.errors!['required']">Необходимо заполнить поле</small>
          </div>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone" [mask]="'0(000) 000 0000'">
            </mat-form-field>
          </p>
          <div class="validator"
            *ngIf="contacts.controls[idx].get('phone')?.invalid && contacts.controls[idx].get('phone')?.touched">
            <small *ngIf="contacts.controls[idx].get('phone')?.errors!['required']">Необходимо заполнить поле</small>
            <small *ngIf="contacts.controls[idx].get('phone')?.errors!['minlength']">Необходимо ввести номер
              полностью</small>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button mat-raised-button type="submit" (click)="signUp()" color="primary" [disabled]="form.invalid">Sign
      up</button>
  </form>
</div>